In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy import random
import math

* **Printing Outputs:** The basic format is print('{:5.2f} and { }'.format(A, B))
* **str.contains():** returns True if string is found, False if not, and False for missing values for the column  
df['new column'] = data['column'].str.contains('string', na=False)
* **df.to_csv('filename.csv'):** saves the dataframe df as a csv file

Sampling 10% of the original data after dropping some columns with many NaNs and dropping rows with NaNs for the remaining columns:

policing = pd.read_csv('md_statewide_2020_04_01.csv')  
policing.isnull().sum()  
columns_drop = ['raw_row_number', 'time', 'location', 'subject_age', 'type', 'disposition', 'contraband_found', 'contraband_drugs', 'contraband_weapons', 'reason_for_stop', 'raw_Race', 'raw_Outcome', 'raw_Arrest_Made']  
md_policing = policing.drop(columns=columns_drop, axis=1)  
md_policing.isnull().sum()  
md_policing.dropna(subset=['date'], inplace=True)  
md_policing.to_csv('MD_Policing.csv')  
md_policing.rename(columns={'date': 'stop_date'}, inplace=True)  
df = md_policing.sample(frac=0.1)  
df.to_csv('MD_Policing_10%.csv')

# **Duplicated Rows**

In [ ]:
cars = pd.read_csv('cars.csv')
#cars.info()

 Dropping the complete duplicates

In [ ]:
duplicates = cars.duplicated()  #default: keep='first'. may use 'last' or False to keep all duplicates
cars[duplicates].sort_values('Make').head()

        Make  Model  Year  ... city mpg  Popularity   MSRP
11379  Acura  Vigor  1994  ...       18         204   2000
11375  Acura  Vigor  1992  ...       18         204   2000
11377  Acura  Vigor  1993  ...       18         204   2000
8546   Acura     RL  2012  ...       17         204  52350
8537   Acura     RL  2010  ...       16         204  50450

[5 rows x 16 columns]

In [ ]:
cars1 = cars.drop_duplicates()

In [ ]:
cars1.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3376
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Dropping the rows without fuel type

In [ ]:
cars1 = cars1.dropna(subset=['Engine Fuel Type']) # inplace=True
cars1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11196 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11196 non-null  object
 1   Model              11196 non-null  object
 2   Year               11196 non-null  int64
 3   Engine Fuel Type   11196 non-null  object
 4   Engine HP          11127 non-null  float64
 5   Engine Cylinders   11166 non-null  float64
 6   Transmission Type  11196 non-null  object
 7   Driven_Wheels      11196 non-null  object
 8   Number of Doors    11190 non-null  float64
 9   Market Category    7823 non-null   object
 10  Vehicle Size       11196 non-null  object
 11  Vehicle Style      11196 non-null  object
 12  highway MPG        11196 non-null  int64
 13  city mpg           11196 non-null  int64
 14  Popularity         11196 non-null  int64
 15  MSRP               11196 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

Dropping the incomplete duplicates: Identifying duplicated rows for a common set of columns and Replacing the values of specific columns of the rows by statistical summaries

In [ ]:
col = ['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 
       'Driven_Wheels', 'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style']
duplicates = cars1.duplicated(subset=col, keep=False) # selecting rows that are the same about col
cars1[duplicates].sort_values('Model').head()

    Make       Model  Year  ... city mpg  Popularity   MSRP
9    BMW    1 Series  2013  ...       18        3916  37200
13   BMW    1 Series  2013  ...       19        3916  37200
32  FIAT  124 Spider  2017  ...       26         819  27495
33  FIAT  124 Spider  2017  ...       26         819  24995
34  FIAT  124 Spider  2017  ...       26         819  28195

[5 rows x 16 columns]

In [ ]:
summaries = {'highway MPG': 'mean', 'city mpg': 'mean', 'Popularity': 'max', 'MSRP': 'mean'}
# group (combine) by a set of common columns and return statistical values (summaries) for specific columns 
# when the aggregation is being performed
cars2 = cars1.groupby(by=col).agg(summaries).reset_index()
cars2.duplicated(subset=col, keep=False).sum()  # checking for duplicates

0

# **Basic Wrangling**

In [ ]:
cars2.shape

(4533, 16)

In [ ]:
cars2.iloc[0:3]

    Make Model  Year  ... city mpg  Popularity     MSRP
0  Acura    CL  2001  ...     17.0         204  28980.0
1  Acura    CL  2002  ...     17.0         204  29030.0
2  Acura    CL  2003  ...     17.0         204  29275.0

[3 rows x 16 columns]

In [ ]:
cars2.iloc[0, 3]

'premium unleaded (required)'

In [ ]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4533 entries, 0 to 4532
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               4533 non-null   object
 1   Model              4533 non-null   object
 2   Year               4533 non-null   int64
 3   Engine Fuel Type   4533 non-null   object
 4   Engine HP          4533 non-null   float64
 5   Engine Cylinders   4533 non-null   float64
 6   Transmission Type  4533 non-null   object
 7   Driven_Wheels      4533 non-null   object
 8   Number of Doors    4533 non-null   float64
 9   Market Category    4533 non-null   object
 10  Vehicle Size       4533 non-null   object
 11  Vehicle Style      4533 non-null   object
 12  highway MPG        4533 non-null   float64
 13  city mpg           4533 non-null   float64
 14  Popularity         4533 non-null   int64
 15  MSRP               4533 non-null   float64
dtypes: float64(6), int64(2), object(8)
memory usage: 566.8+ KB

In [ ]:
cars2.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

In [ ]:
#cars2.describe()

In [ ]:
#cars2.describe(include='all')

In [ ]:
cars2['city mpg'].mean() == np.mean(cars2['city mpg'])

True

In [ ]:
cars2['Vehicle Size'].unique()

array(['Midsize', 'Compact', 'Large'], dtype=object)

In [ ]:
cars['Vehicle Size'].value_counts(normalize=1)

Compact    0.399866
Midsize    0.367047
Large      0.233087
Name: Vehicle Size, dtype: float64

In [ ]:
cars2['city mpg'].isnull().sum() == np.sum(np.isnan(cars2['city mpg']))

True

Frequency table of two categorical variables

In [ ]:
pd.crosstab(cars2['Engine Cylinders'], cars2['Vehicle Size']) # margins=True for Totals

Vehicle Size      Compact  Large  Midsize
Engine Cylinders
0.0                     9      0        0
3.0                    18      0        0
4.0                   973     32      497
5.0                    50      0       59
6.0                   357    386      908
8.0                   192    503      289
10.0                   53      0        1
12.0                   45     83       76
16.0                    2      0        0

Replacing missing values by Mean

In [ ]:
#df.fillna('NA')
#df['A'].fillna(df['A'].mean())

Statistical summaries of quantitative variables related to two categorical variables

In [ ]:
by_Wheel_Size = cars2.groupby(['Driven_Wheels', 'Vehicle Size'])

In [ ]:
by_Wheel_Size['Engine HP'].agg([np.mean, np.std])

                                      mean         std
Driven_Wheels     Vehicle Size
all wheel drive   Compact       299.201166  156.008876
                  Large         379.266667  107.833805
                  Midsize       316.526685  117.592478
four wheel drive  Compact       184.581395   63.020115
                  Large         340.907407   58.085053
                  Midsize       313.306452  109.973110
front wheel drive Compact       159.208169   44.496140
                  Large         266.540323   38.553183
                  Midsize       226.716599   44.023604
rear wheel drive  Compact       339.637184  134.848237
                  Large         377.368201  114.322846
                  Midsize       323.658363  117.542380

Converting the above series into a dataframe

In [ ]:
by_Wheel_Size['Engine HP'].agg([np.mean, np.std]).unstack()

                         mean              ...         std
Vehicle Size          Compact       Large  ...       Large     Midsize
Driven_Wheels                              ...
all wheel drive    299.201166  379.266667  ...  107.833805  117.592478
four wheel drive   184.581395  340.907407  ...   58.085053  109.973110
front wheel drive  159.208169  266.540323  ...   38.553183   44.023604
rear wheel drive   339.637184  377.368201  ...  114.322846  117.542380

[4 rows x 6 columns]

Same as above.

In [ ]:
cars2.pivot_table(index='Driven_Wheels', columns='Vehicle Size', values='Engine HP', aggfunc=[np.mean, np.std])  
# pivot table: use fill_value=# to replace NaN, use margins=True to get row/column totals

                         mean              ...         std
Vehicle Size          Compact       Large  ...       Large     Midsize
Driven_Wheels                              ...
all wheel drive    299.201166  379.266667  ...  107.833805  117.592478
four wheel drive   184.581395  340.907407  ...   58.085053  109.973110
front wheel drive  159.208169  266.540323  ...   38.553183   44.023604
rear wheel drive   339.637184  377.368201  ...  114.322846  117.542380

[4 rows x 6 columns]

In [ ]:
by_Wheel_Size_stat = by_Wheel_Size['highway MPG', 'city mpg'].agg([np.mean, np.median, np.std])  # multi statistics
by_Wheel_Size_stat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                               highway MPG         ... city mpg
                                      mean median  ...   median       std
Driven_Wheels     Vehicle Size                     ...
all wheel drive   Compact        25.552867   26.0  ...     19.0  4.633857
                  Large          24.006250   24.0  ...     16.0  2.774434
                  Midsize        25.261891   25.0  ...     18.0  3.959405
four wheel drive  Compact        21.488372   20.0  ...     16.0  4.023739
                  Large          20.573045   21.0  ...     15.0  2.400202
                  Midsize        18.112903   18.0  ...     14.0  1.886311
front wheel drive Compact        31.959618   31.0  ...     23.0  9.455414
                  Large          25.548387   25.0  ...     17.0  2.225355
                  Midsize        29.356478   28.0  ...     20.0  6.776348
rear wheel drive  Compact        23.828520   24.0  ...     16.0  9.557483
                  Large          22.000418   22.0  ...     15.0  3.390809
                  Midsize        24.590747   24.0  ...     17.0  3.482736

[12 rows x 6 columns]

In [ ]:
by_Wheel_Size_stat.loc['all wheel drive', 'Compact']

highway MPG  mean      25.552867
             median    26.000000
             std        4.878713
city mpg     mean      18.826774
             median    19.000000
             std        4.633857
Name: (all wheel drive, Compact), dtype: float64

Converting categorical variables into binary classes

In [ ]:
pd.get_dummies(cars2[['city mpg', 'Vehicle Size', 'Driven_Wheels']])

      city mpg  ...  Driven_Wheels_rear wheel drive
0         17.0  ...                               0
1         17.0  ...                               0
2         17.0  ...                               0
3         17.0  ...                               0
4         17.0  ...                               0
...        ...  ...                             ...
4528      22.0  ...                               0
4529      20.0  ...                               0
4530      20.0  ...                               0
4531      22.0  ...                               0
4532      20.0  ...                               0

[4533 rows x 8 columns]